$def with(result)
<!DOCTYPE html>
<html>
<header>
<h1 class="text-light bg-dark">ACTUALIZAR DATOS DEL ALUMNO</h1>
</header>

<body>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	 crossorigin="anonymous">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">INICIO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/insert">Insertar alumno <span class="sr-only">(current)</span></a>
      </li>
    
    
    </ul>
  </div>
</nav>


<form method="POST" action="">
  <div class="form-group">
    <label for="matricula">Matricula</label>
    <input type="number" readonly class="form-control" id="matricula" name="matricula" value="$result['matricula']">
  </div>

  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" readonly class="form-control" id="nombre" name="nombre" value="$result['nombre']">
  </div>

  <div class="form-group">
    <label for="pri_ap">Apellido paterno</label>
    <input type="text" readonly class="form-control" id="pri_ap" name="pri_ap" value="$result['pri_ap']">
  </div>

  <div class="form-group">
    <label for="seg_ap">Apellido materno</label>
    <input type="text" readonly class="form-control" id="seg_ap" name="seg_ap" value="$result['seg_ap']">
  </div>

  <div class="form-group">
    <label for="age">Edad del alumno</label>
    <input type="number" readonly class="form-control" id="age" name="age" value="$result['age']">
  </div>

  <div class="form-group">
    <label for="fdate">Fecha de nacimiento</label>
    <input type="text" readonly class="form-control" id="fdate" name="fdate" value="$result['fdate']">
  </div>

  <div class="form-group">
    <label for="gender">Sexo</label>
    <input type="text" readonly class="form-control" id="gender" name="gender" value="$result['gender']">
  </div>

  <div class="form-group">
    <label for="state">Estado</label>
    <input type="text" readonly class="form-control" id="state" name="state" value="$result['state']">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Delete</button>
  </div>
</form> 
<body background="https://image.freepik.com/vector-gratis/diseno-patron-mandala-sobre-fondo-blanco_1308-33479.jpg">
  </body>
</html>